[submodule "test/calgary-corpus"]
	path = test/calgary-corpus
	url = https://github.com/HansWessels/calgary.git
[submodule "thirdparty/dirent"]
	path = thirdparty/dirent
	url = https://github.com/GerHobbelt/dirent.git
