# ignore autoconf, gcc, PureC, VisualC (MSVC) outputs:

.deps/
*.bak
*.o
*.a
*.obj
*.i
*.ttp

/autom4te.cache
/config.log
/config.status

.libs
stamp-h1
*.la
*.lo

*~
/test.arj
/unix/gup

.vs/
*.user
/win32/msvc2017/bin/
/win32/msvc2017/obj/
/win32/msvc2019/bin/
/win32/msvc2019/obj/
/win32/msvc2022/bin/
/win32/msvc2022/obj/
